<h1>Criar Job</h1>

<%= form_for @job do |f| %>
  <%= f.label :title, "Título" %>
  <%= f.text_field :title %> <br>
  <%= f.label :location, 'Local' %>
  <%= f.text_field :location %> <br>
  <%= f.label :category, 'Categoria' %>
  <%= f.text_field :category %> <br>
  <%= f.label :company, 'Empresa' %>
  <%= f.text_field :company %> <br>
  <%= f.label :description, 'Descrição' %>
  <%= f.text_field :description %> <br>
  <%= f.submit "Criar Vaga"%>
<% end %>
